/*-- scss:defaults --*/

/*  exercise boxes */
.exercise {
    background-color: hsl(178, 79%, 85%);
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 2px;
    border-radius: 4px;
}

/*.exercise h2 {
    padding-left: 7px;
} */
